
body {
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 10% auto
  }
 
  em {
    font-style: oblique;
  }
  strong {
    font-style: bold;
  }
  img {
    max-width: 400px;
  }
  h1, h2, h3, h4, h5 {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
  }
  h3 {
    text-transform: capitalize;
    font-size: 1.875em;
    padding: 0 0 1% 0;
    color: #001833;
    font-weight: 800;
  }
  header {
    background: linear-gradient( rgba(224, 204, 200, 1.0), rgba(224, 204, 200, 0.90)), /* bottom, image */
    url(img/laptop.jpg);
    background-size: cover;
    background-position: center top;
  }
  .intro {
    margin: 10;
    padding: 8% 0;
  }
  .intro h1 {
    font-size: 4em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    line-height: 1.5em;
  }
  .intro h2 {
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.09em;
  }
  .wrapper {
    margin: 8px 0 ;
    font-family: proxima-nova, sans-serif;
   
  }
  .about {
    padding: 4% 0;
  }
  .about p {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.70;
    color: #616569;
    letter-spacing: .02em;
    margin: 10px 0 ;
    font-size: 1.2em;
    padding: 2% 0;
  }
  .about p a {
    color: #E1CCC9;
    border-bottom: 2px solid;
  }
  .work {
    height: 300px;
    padding: 10% 0;
  }
  .work h3 {
    padding: 10% 0;
  }
  .text-box {
    float: left;
    text-align: left;
    background-color: #fff;
    height: 100%;
  }
  .text-box-content {
    padding: 4% 8%;
  }
  .text-box-content p {
    line-height: 1.8;
    color: #616569;
    letter-spacing: .03em;
    font-size: 1em;
  }
  .button {
    padding: 5% 3%;
    border: 3px solid #792110;
    border-radius: 6px;
    letter-spacing: 0.2em;
    text-decoration: none;
    color: #792110;
    text-align: center;
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 4%;
  }
  .button:hover {
    color: #fff;
    background-color: #792110;
  }
  .image-area {
    width: 400px;
    height: 300px;
  
  }

  .contact {
    background-color: #E0CCC8;
    padding: 5% 0;
    margin-top: 5%;
    clear: both;
  }
  .contact-content {
    margin: 0 auto;
    text-align: center;
  }
  .contact-content h4 {
    font-size: 1.5em;
    padding: 1% 0;
    color: #fff;
    font-weight: 450;
    letter-spacing: 0.04em;
  }
  .contact-content a {
    color: #792110;
    text-decoration: none;
  }
  .image-divider {
    padding: 15% 0;
    background: /* bottom, image */
    url(img/workspace.jpg);
    background-size: cover;
    background-position: center top;
  }
  footer {
    background-color: #E0CCC8;
    color: #fff;
    padding: 2% 0;
    clear: both;
    height: 90px;
  }
  .footer-content {
    padding: 2% 0;
    margin: 0 400px;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4;
    color: #fff;
    letter-spacing: .03em;
    font-size: 0.625em;
  }
  .credit {
    float: left;
  }
  .social {
    float: right;
  }
  .social li {
    display: inline;
  }
  .social li a {
    color: #fff;
    padding: 0.2em;
    font-size: 1.8em;
    font-weight: 600;
  }
  .social li a:hover {
    color: #011833;
  }
 
    .wrapper {
      padding: 0% 4%;
    }
    .work {
      padding: 4% 0;
    }
    .image-area {
      float: left;
      width: 100%;
      height: auto;
    }
    .text-box {
      height: auto;
    }
    .social li a {
      font-size: 1.4em;
    }
    .footer-content {
      padding: 3.5%;
    }

    .intro h1 {
      font-size: 4em;
      line-height: 1.2;
    }
    .intro h2 {
      font-size: 1.8em;
      padding-top: 3%;
    }
    .about p {
      font-size: 1em;
      line-height: 2;
    }
    footer {
      height: 100px;
      line-height: 1.3em;
    }
    .footer-content {
      padding: 4%;
      font-size: .875rem;
    }
    .social li a {
      font-size: 1em;
    }
    .contact {
      max-width: 400px;
    }
    .contact-content {
      font-size: 0.625rem;
      line-height: 1.5;
    }

 
